<h1>Ajouter patient</h1>
<div class="example-container">
  <form>
    <mat-form-field>
      <input required minlength="3" matInput placeholder="Nom" [(ngModel)]="patientName" name="patientName">
    </mat-form-field>
    <br>

    <mat-form-field>
      <input required minlength="3" matInput placeholder="Prénom" [(ngModel)]="patientForName" name="patientForName">
    </mat-form-field>
    <br>

    <mat-form-field>
      <input required minlength="15" matInput type="text" placeholder="Numéro sécurité sociale" [(ngModel)]="patientNumber"
        name="patientNumber">
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-select required placeholder="Sexe" [(ngModel)]="patientSex" name="patientSex">
        <mat-option value="1">Femme / Female</mat-option>
        <mat-option value="0">Homme / Male</mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field>
      <input required matInput type="date" placeholder="Date de naissance" [(ngModel)]="patientBirthday" name="patientBirthday">
    </mat-form-field>
    <br>

    <mat-form-field>
      <input required min="1" matInput type="number" placeholder="Etage" [(ngModel)]="patientFloor" name="patientFloor">
    </mat-form-field>

    <mat-form-field>
      <input required min="1" matInput type="text" placeholder="Numéro de la rue" [(ngModel)]="patientStreetNumber"
        name="patientStreetNumber">
    </mat-form-field>


    <mat-form-field>
      <input required minlength="1" matInput placeholder="Rue" name="patientStreet" [(ngModel)]="patientStreet">
    </mat-form-field>


    <mat-form-field>
      <input required matInput placeholder="Code Postal" [(ngModel)]="patientPostalCode" name="patientPostalCode">
    </mat-form-field>


    <mat-form-field>
      <input required minlength="1" matInput placeholder="Ville" [(ngModel)]="patientCity" name="patientCity">
    </mat-form-field>
  </form>

  <div style="text-align: center">
    <button (click)="submit()" color='primary' mat-button mat-raised-button>Ajouter</button>
  </div>
</div>