<mat-toolbar class="mat-elevation-z5 toolbar">
    <span routerLink="" class="topnav-left">
        <img [src]="logo" class="logo-img" />
    </span>
    <span class="spacer"></span>
    <nav>
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                    Secrétaire
                </a>
            </li>
            <li>
                <a routerLink="/infirmier" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                    Infirmiers
                </a>
            </li>
            <li>
                <a routerLink="/patient" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                    Patients
                </a>
            </li>
        </ul>
    </nav>
</mat-toolbar>

<!-- Génération du composant selon le choix de navigation APRES le toolbar grâce à outlet.-->
<router-outlet></router-outlet>